/data
/data1 
/pretrain_model
/.DS_Store
log
/pre_processed_data1
/pre_processed_data_train_1-10
.idea/
/BTCV*
/BTCV
/Task1/result
/Task1/eval.py
test.py
__pycache__
Task2/out
Task3/checkpoints
Task3/log
Task3/log_naive
Task3/log_together
/finetune_model
/data.py